.btn{
  cursor: pointer;
  border: none;
  background: #5c5953;
  color: #fff;
  padding: .75rem 2.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}
.icon{
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}

.btn:hover{
  background-color: #373737;
}