@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

html, body{
  height: 100%;
}
#wrap {
  width: 100%;
  height: 100%;
}

.AM {
  background-image: linear-gradient(35deg, #92fe9d 0%, #00c9ff 100%);
}

.PM {
  background: #DADDE2;
}

.hidden {
  display: none;
}

.container {
  position : relative;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
  box-sizing: border-box;
  overflow: hidden;
}
.container::after{
  display: block;
  clear:both;
  content: ''
}
.utility{
  float: left;
}
/* CLOCK */
#clock {
  font-family: 'Teko', sans-serif;
  font-size: 85px;
  text-align: center;
  background-color: #43655A;
  color: #fff;
  width: 448px;
  height: 172px;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 10px;
}
#clock #date{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
}

/*LOGIN*/
#login {
  width: 363px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 32px;
  margin-top: 56px;
  color: #2F4858;
  position : relative
}
#login span{
  position: absolute;
  right: 0px;
  bottom: 10px;
  color: #fff;
  font-size: 36px;
}

#login input {
  width: 363px;
  border: 0;
  border-bottom: 4px solid #fff;
  background-color: transparent;
  box-shadow: none;
  margin-top: 32px;
}

/*MENU*/
#menu{
  border-radius: 10px;
  position:relative;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 28px;
  color: #fff;
  text-align: center;
  background-color: #B1BDC5;
  width: 448px;
  height: 378px;
  margin-top: 16px;
  padding:24px 50px;
  box-sizing: border-box;
}
#menu .tab{
  width: 100%;
  font-size: 0px;
  color: #fff;
  margin-top: 24px;
  background-color: #B1BDC5;
  display: table;
  border-collapse: collapse;
  border: 3px solid #DADDE2;
  overflow: hidden;
  position:relative;
}
#menu .tab .tab-item-wrapper{
  width: 76px;
  display: table-cell;
}
#menu .tab .tab-item-wrapper .tab-item{
  height: 50%;
  border-bottom: 0px solid #DADDE2;
  border-right: 3px solid #DADDE2;
  box-sizing: border-box;
}
#menu .tab .tab-item-wrapper .tab-item:first-child{
  border-bottom: 3px solid #DADDE2;
}
#menu .tab .tab-item-wrapper .tab-item.active{
  border-right: 0;
}

#menu .tab .tab-item-wrapper .tab-item span{
  display: block;
  color: #2F4858;
  padding: 48px 0;
  box-sizing: border-box;
}
#menu .tab .tab_panel_wrap{
  display: table-cell;
}
#menu .tab #timerrecord{
  font-size: 48px;
  position: absolute;
  top: 72px;
  right: 50px;
}
#menu #timer .buttons{
  width: 156px;
  height: 32px;
  font-size: 0;
  position:absolute;
  top: 132px;
  right: 58px;
}
#start, #stop, #reset{
  font-size: 16px;
}
#menu #timer button{
  background-color: transparent;
  border: none;
  color: #2F4858;
}
#menu .changename{
  display: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  border: 0;
  position: absolute;
  bottom: 0;
}
.moto{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 30px;
  margin: 0 auto;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  color: #699A8C;
}


