.search_wrapper{
  width: 180px;
  height: 40px;
  position: relative;
}
.search_wrapper button{
  background: transparent;
  border: 0;
  outline: 0;
  height: 40px;
  width: 40px;
  position:absolute;
  top: 0;
  left: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.search_wrapper img{
  width: 24px;
  height: 24px;
}
.search_wrapper input{
  height: 40px;
  width: 100%;
  background: #f5f5f5;
  font-weight: 300;
  font-size: 16px;
  border: 0;
  border-radius: 100px;
  line-height: 1.5;
  padding: 8px 48px;
  box-sizing: border-box;
}