.form{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form label{
  color: #909090;
  font-size: 16px;
  margin-right: 6px;
}
.form button{
  border: 0;
  background-color: #373737;
  color: #fff;
  border-radius: 100px;
  padding: 6px 12px;
  cursor: pointer;
}
.form button:hover{
  background-color: #f3c000;
}