.gnb{
  position: relative;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.gnb h1{
  display: inline-block;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 18px;
  top: 0;
  cursor: pointer;
}